:root {
	--rgp-dkred: #aa0000;
	--rgp-red: #cc0000;
	--rgp-blue: #103099;
	--rgp-gray: #70737a;
	--rgp-ltgray: #e0e3ea;
}

html {
	position: relative;
	min-height: 100%;
}

nav.navbar {
	background-color: var(--rgp-dkred) !important;
}

.bright {
    color: rgba(255, 255, 255, 1) !important;
}

.default-content {
	margin-top: 60px;
	padding: 10px;
	background-color: white;
	margin-bottom: 60px;
}

.default-footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 50px;

	padding-top: 10px;
	border-top: solid #666666 3px;

	background-color: #353535;
	color: white;
}

div.information {
	color: #888888;
	font-size: 8pt;
}

.meal-title {
	color: var(--rgp-red);
}

.dish-title {
	color: var(--rgp-blue);
}

.product-name {
	font-weight: bolder;
	font-size: larger;
	color: var(--rgp-red);
}

.text-highlight {
	color: var(--rgp-blue);
	font-family: monospace;
	font-weight: bold;
}

.index-tile {
	text-align: center;
	border: 2px solid var(--rgp-gray);
	border-radius: 25px;
	background: var(--rgp-ltgray);
	font-weight: bolder;
}
.index-tile a {
	color: var(--rgp-dkred);
}
.index-tile a:hover {
	color: var(--rgp-red);
	text-decoration: none;
}

table.noborder {
	border: none;
}

table.noborder td {
	padding: 5px;
}

table.table-cells-align-top td {
	vertical-align: top;
}

table.table-cells-pad-right td {
	padding-right: 10px;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #444;
}