<!doctype html>
<html lang="en">
<head>
    {% if title %}
        <title>RGP MealPlanner - {{ title }}</title>
    {% else %}
        <title>RGP MealPlanner</title>
    {% endif %}
    <script src="{{ url_for('static', filename='jquery-3.4.1/jquery.min.js') }}" type="application/javascript"></script>
    <script src="{{ url_for('static', filename='bootstrap-4.3.1/js/bootstrap.bundle.js') }}" type="application/javascript"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-4.3.1/css/bootstrap.min.css') }}">
    {% block header %}
    {% endblock %}
</head>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='img/MealPlanner_Logo_600x600.png') }}" height="40" class="rounded mr-2" />
            mealplanner
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="bright">🍳</span> dishes</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ url_for('dishes') }}">All Dishes</a>
                        <a class="dropdown-item" href="{{ url_for('random_dish') }}">Random Dish</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ url_for('create_dish') }}">New Dish</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="bright">🍛</span> meals</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ url_for('meals') }}">All Meals</a>
                        <a class="dropdown-item" href="{{ url_for('random_meal') }}">Random Meal</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ url_for('create_meal') }}">New Meal</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="bright">📅</span> schedules</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ url_for('periods') }}">Periods</a>
                        <a class="dropdown-item" href="{{ url_for('schedules') }}">Schedules</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ url_for('create_period') }}">New Period</a>
                        <a class="dropdown-item" href="{{ url_for('create_schedule') }}">New Schedule</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="bright">📖</span> mealplans</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item disabled" href="#">Build Mealplan</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ url_for('demo_mealplan') }}">Demo Mealplan</a>
                    </div>
                </li>
                <li>
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"><span class="bright">👤</span> profile</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-dark my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</header>

<body>
	<div class="default-content">
		{% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul style="list-style-type: none">
            {% for message in messages %}
                <li><b>{{ message }}</b></li>
            {% endfor %}
            </ul>
            <hr />
        {% endif %}
        {% endwith %}
        {% block content %}
		{% endblock %}
	</div>
</body>

<footer class="default-footer pb-5">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4">
				<p>
                    <img src="{{ url_for('static', filename='img/RGP_Logo_1024x1024.png') }}" height="40" class="rounded mr-2" />
                    <b>Red Goat Pioneers, LLC © 2019</b>
                </p>
			</div>
			<div class="col-md-10">
			</div>
		</div>
	</div>
</footer>
</html>
