{% for dish in dishes %}
    <div class="container border my-3">
        <div class="row ml-2">
            <h1>{{ dish.name }}</h1>
        </div>
        <div class="row ml-2">
            <ul>
            <li><b>Serves</b>: {{ dish.serves }}</li>
            <li><b>Cost</b>: {{ dish.cost }}</li>
            <li><b>Effort</b>: {{ dish.effort }}</li>
            <li><b>Time</b>: {{ dish.time }} minutes</li>
            </ul>
        </div>
        <div class="row ml-2">
            <div id="dishes" class="col-4">
                <h4>Components</h4>
                <ul>
                {% for component in dish.components %}
                    <li>{{ component.quantity }} {{ component.unit }} {{ component.variety }} {{ component.component }}, {{ component.state }}</li>
                {% endfor %}
                </ul>
                {% if dish.seasoning is defined and dish.seasoning|length > 0 %}
                    <h4>Seasoning</h4>
                    <ul>
                    {% for component in dish.seasoning %}
                        <li>{{ component.quantity }} {{ component.unit }} {{ component.variety }} {{ component.component }}, {{ component.state }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="col-6">
                <h4>Notes</h4>
                {% if dish.notes != "" %}
                    {{ dish.notes }}
                {% else %}
                    <i>No notes.</i>
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}
