{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <img src="{{ url_for('static', filename='img/MealPlanner_Logo_1154x1154.png') }}" class="pt-2" style="width: 100%;" />
        </div>
        <div class="col-5">
            <span class="product-name">mealplanner</span> (v{{ version }}) is a web-based Flask application
            that is designed to be used, as the name implies, to help with meal planning. Users can add food components,
            save recipes, and build meal schedules. There is a level of customizable randomness built in
            to the application that keeps meal schedules interesting and always different.

            <br><br>Here is a quick reference for terminology used throughout the app:
            <table class="table-cells-align-top table-cells-pad-right">
                <tr class="border-bottom border-top"><td class="text-right"><b>component</b></td>
                    <td>The most discrete unit of food; these are the "building blocks"
                    of dishes and meals. Think <span class="text-highlight">bread</span>,
                    <span class="text-highlight">butter</span> or <span class="text-highlight">salt</span>.</td></tr>
                <tr class="border-bottom"><td class="text-right"><b>seasoning</b></td>
                    <td>A seasoning is an optional component that is used
                    to enhance a dish or component. This might be a garnish, like
                    <span class="text-highlight">parsley</span> or <span class="text-highlight">lemon</span>,
                    or something more substantial like a cup of <span class="text-highlight">cashew</span>s.</td></tr>
                <tr class="border-bottom"><td class="text-right"><b>dish</b></td>
                    <td>A thing you eat as part of a meal, that may or may not be the meal itself. If you are eating
                    a sandwich with fries, the sandwich is a dish and so is the collection of fries.</td></tr>
                <tr class="border-bottom"><td class="text-right"><b>meal</b></td>
                    <td>When you sit down to eat, and you have a plate (or a few plates!) of food, the whole experience
                    is the meal. The curry, the rice, the naan, and the beer you have with it!</td></tr>
                <tr class="border-bottom"><td class="text-right"><b>period</b></td>
                    <td>A period is a single unit of time that you want to track in a schedule. Usually this is a day,
                    but you might also want to track meals across a different period of time, like in the case of an
                    event (like an all-day obstacle race) or when you aren't beholden to a clock (like on a camping trip).
                    </td></tr>
                <tr class="border-bottom"><td class="text-right"><b>schedule</b></td>
                    <td>The schedule is the whole period of time you are building a meal plan against, and contains
                    the "slots" that you will fill with different dishes and meals. This could be a weekend, a work
                    week, or even something as long as a month, depending on how far out you want to plan.</td></tr>
                <tr class="border-bottom"><td class="text-right"><b>mealplan</b></td>
                    <td>This is the whole goal of the application (unless you just like the recipes!). The meal plan
                    gives you a sequence of meals across a schedule. Eventually you will also get a grocery list and a
                    nutrition breakdown, and you will be able to customize it to your own preferences and nutritional
                    needs. If all goes well, we will also try to optimize this for your fridge so you don't have dozens
                    of random leftover ingredients!</td></tr>
            </table>
        </div>
        <div class="col-4">
            <div class="row">
                <div class="col py-5 m-2 d-flex justify-content-center index-tile"><a href="{{ url_for('dishes') }}">All Dishes</a></div>
                <div class="col py-5 m-2 d-flex justify-content-center index-tile"><a href="{{ url_for('random_dish') }}">Random Dish</a></div>
                <div class="col py-5 m-2 d-flex justify-content-center index-tile"><a href="{{ url_for('create_dish') }}">New Dish</a></div>
            </div>
            <div class="row">
                <div class="col py-5 m-2 d-flex justify-content-center index-tile"><a href="{{ url_for('meals') }}">All Meals</a></div>
                <div class="col py-5 m-2 d-flex justify-content-center index-tile"><a href="{{ url_for('random_meal') }}">Random Meal</a></div>
                <div class="col py-5 m-2 d-flex justify-content-center index-tile"><a href="{{ url_for('create_meal') }}">New Meal</a></div>
            </div>
            <div class="row">
                <div class="col py-5 m-2 d-flex justify-content-center index-tile"><a href="{{ url_for('periods') }}">Periods</a></div>
                <div class="col py-5 m-2 d-flex justify-content-center index-tile"><a href="{{ url_for('schedules') }}">Schedules</a></div>
                <div class="col py-5 m-2 d-flex justify-content-center index-tile"><a href="{{ url_for('demo_mealplan') }}">Demo Meal Plan</a></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
