{% extends "base.html" %}
{% block content %}
{% for meal in meals %}
    <div id="meals" class="container">
    <h1>{{ meal.name }}</h1>
    {% if meal.dishes %}
        <i>Prepare the following dishes:</i>
        {% set dishes = meal.dishes %}
        {% include "dish_list.html" %}
     {% endif %}
    {% if meal.categories %}
        <i>Prepare one of each:</i>
        <div class="col-4">
            <ul>
                {% for category in meal.categories %}
                    <li>{{ category }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% if meal.components %}
        <i>Serve with the following additional items:</i>
        <div class="col-4">
            <ul>
                {% for component in meal.components %}
                    <li>{{ component.quantity }} {{ component.unit }} {{ component.variety }} {{ component.component }}, {{ component.state }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    </div>
    <hr />
{% endfor %}
{% endblock %}
