{% extends "base.html" %}
{% block content %}
    <div id="schedules" class="container">
    <h1>{{ schedule.name }}</h1>
    {% for period_name, period in schedule.items() if period_name != "name" %}
        <div class="col-6 border my-3 ml-3">
        <h2>{{ period_name }}</h2>
        <hr />
        <table>
        {% for food_name, food_item in period.items() %}
            <tr><td class="px-2 align-text-top text-right"><b>{{ food_name }}</b></td>
                <td class="px-2 align-text-top">{{ food_item.name }}</td></tr>
        {% endfor %}
        </table>
        </div>
    {% endfor %}
    </div>
    <hr />
{% endblock %}
