{% extends "base.html" %}
{% block header %}
        <script src="{{ url_for('static', filename='js/forms.js') }}"></script>
{% endblock %}
{% block content %}
    <h1>New Meal</h1>
    <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}
        <p><b>{{ form.name.label }}</b>: {{ form.name(size=32) }}</p>
        <p><b>{{ form.effort.label }}</b>: {{ form.effort }}</p>
        Choose categories of dishes for random selections, or select specific dishes, or both.
        <div class="row border my-3 py-2">
            <div class="col-1">
                <b>{{ form.categories.label }}</b>:
                <br />{{ form.categories }}</div>
            <div class="col-2">
                <b>{{ form.dishes.label }}</b>:
                <br />{{ form.dishes }}</div>
        </div>
        <p><b>{{ form.notes.label }}</b>: {{ form.notes(cols="90") }}</p>
        <p><b>{{ form.components.label }}</b> <button type="button" onClick="addComponent('components');">+</button></p>
        {{ form.no_components.label }} {{ form.no_components }}
        <div class="row" id="components">
        {% for subform in form.components %}
                <div class="subform col-12 pt-3 pb-2 ml-3 mb-4" style="border: solid 1px #dddddd;"
                     id="components-{{ loop.index0 }}-form" data-index="{{ loop.index0 }}">
                    {{ subform.component.label }}: {{ subform.component }}
                    {{ subform.quantity.label }}: {{ subform.quantity }}
                    {{ subform.unit.label }}: {{ subform.unit }}
                    {{ subform.state.label }}: {{ subform.state }}
                    {{ subform.variety.label }}: {{ subform.variety }}
                </div>
        {% endfor %}
        </div>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
