{% extends "base.html" %}
{% block header %}
        <script src="{{ url_for('static', filename='js/forms.js') }}"></script>
{% endblock %}
{% block content %}
    <h1>New Dish</h1>
    <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}
        <p><b>{{ form.name.label }}</b>: {{ form.name(size=32) }}</p>
        <b>{{ form.size.label }}</b>: {{ form.size }}
        <b>{{ form.category.label }}</b>: {{ form.category }}
        <b>{{ form.cost.label }}</b>: {{ form.cost }}
        <b>{{ form.effort.label }}</b>: {{ form.effort }}
        <b>{{ form.time.label }}</b>: {{ form.time }}
        <p><b>{{ form.labels.label }}</b>: {{ form.labels }}</p>
        <p><b>{{ form.serves.label }}</b>: {{ form.serves }}</p>
        <p><b>{{ form.notes.label }}</b>: {{ form.notes(cols="90") }}</p>
        <p><b>{{ form.components.label }}</b> <button type="button" onClick="addComponent('components');">+</button></p>
        <div class="row" id="components">
        {% for subform in form.components %}
                <div class="subform col-12 pt-3 pb-2 ml-3 mb-4" style="border: solid 1px #dddddd;"
                     id="components-{{ loop.index0 }}-form" data-index="{{ loop.index0 }}">
                    {{ subform.component.label }}: {{ subform.component }}
                    {{ subform.quantity.label }}: {{ subform.quantity }}
                    {{ subform.unit.label }}: {{ subform.unit }}
                    {{ subform.state.label }}: {{ subform.state }}
                    {{ subform.variety.label }}: {{ subform.variety }}

                </div>
        {% endfor %}
        </div>
        <p><b>{{ form.seasoning.label }}</b> <button type="button" onClick="addComponent('seasoning');">+</button></p>
        {{ form.no_seasoning.label }} {{ form.no_seasoning }}
        <div class="row" id="seasoning">
        {% for subform in form.seasoning %}
                <div class="subform col-12 pt-3 pb-2 ml-3 mb-4" style="border: solid 1px #dddddd;"
                     id="seasoning-{{ loop.index0 }}-form" data-index="{{ loop.index0 }}">
                    {{ subform.component.label }}: {{ subform.component }}
                    {{ subform.quantity.label }}: {{ subform.quantity }}
                    {{ subform.unit.label }}: {{ subform.unit }}
                    {{ subform.state.label }}: {{ subform.state }}
                    {{ subform.variety.label }}: {{ subform.variety }}
                </div>
        {% endfor %}
        </div>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
