{% extends "base.html" %}
{% block header %}
        <script src="{{ url_for('static', filename='js/forms.js') }}"></script>
{% endblock %}
{% block content %}
    <h1>New Schedule</h1>
    <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}
        <p><b>{{ form.name.label }}</b>: {{ form.name(size=32) }}</p>
        <p><b>{{ form.template.label }}</b>: {{ form.template }}</p>
        <p><b>{{ form.schedule.label }}</b> <button type="button" onClick="addComponent('period');">+</button></p>
        <div class="row" id="sequence">
        {% for subform in form.schedule %}
            <div class="subform col-12 pt-3 pb-2 ml-3 mb-4" style="border: solid 1px #dddddd;"
                 id="sequence-{{ loop.index0 }}-form" data-index="{{ loop.index0 }}">
                {{ subform.period_name.label }}: {{ subform.period_name }}
                {{ subform.period.label }}: {{ subform.period }}
            </div>
        {% endfor %}
        </div>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
