{% extends "base.html" %}
{% block header %}
        <script src="{{ url_for('static', filename='js/forms.js') }}"></script>
{% endblock %}
{% block content %}
    <h1>New Period</h1>
    <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}
        <p><b>{{ form.name.label }}</b>: {{ form.name(size=32) }}</p>
        <p><b>{{ form.template.label }}</b>: {{ form.template }}</p>
        <p><b>{{ form.sequence.label }}</b> <button type="button" onClick="addComponent('sequence');">+</button></p>
        <div class="row" id="sequence">
        {% for subform in form.sequence %}
            <div class="subform col-12 pt-3 pb-2 ml-3 mb-4" style="border: solid 1px #dddddd;"
                 id="sequence-{{ loop.index0 }}-form" data-index="{{ loop.index0 }}">
                {{ subform.sequence_name.label }}: {{ subform.sequence_name }}
                {{ subform.sequence_type.label }}: {{ subform.sequence_type }}
                {{ subform.size.label }}: {{ subform.size }}
                {{ subform.effort.label }}: {{ subform.effort }}
                {{ subform.cost.label }}: {{ subform.cost }}
                {{ subform.category.label }}: {{ subform.category }}
                {{ subform.sequence_labels.label }}: {{ subform.sequence_labels }}
            </div>
        {% endfor %}
        </div>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
