{% extends "base.html" %}
{% block content %}
    {% for period in periods %}
        <div id="periods" class="container">
            <div class="col-4 border my-3 ml-3">
            <h2>{{ period.name }}</h2>
            {% for food_index, food_item in period.sequence.items() %}
                <b>{% if food_item.type == "Meal" %}<span class="meal-title">{% else %}<span class="dish-title">{% endif %}
                    {{ food_item.name }}</b></span> | {{ food_item.type }}
                <ul>
                    {% if "size" in food_item and food_item.size != null and food_item.size != None %}
                        <li>Size: {{ food_item.size }}</li>
                    {% endif %}
                    {% if "effort" in food_item and food_item.effort != null and food_item.effort != None  %}
                        <li>Effort: {{ food_item.effort }}</li>
                    {% endif %}
                    {% if "cost" in food_item and food_item.cost != null and food_item.cost != None  %}
                        <li>Cost: {{ food_item.cost }}</li>
                    {% endif %}
                    {% if "category" in food_item and food_item.category != null and food_item.category != None  %}
                        <li>Category: {{ food_item.category }}</li>
                    {% endif %}
                    {% if "labels" in food_item and food_item.labels|length > 0  %}
                        <li>Labels: {{ food_item.labels|join(", ") }}</li>
                    {% endif %}
                </ul>
            {% endfor %}
            </div>
        </div>
        <hr />
    {% endfor %}
{% endblock %}
