{% extends "base.html" %}
{% block content %}
{% for schedule in schedules %}
    <div id="schedules" class="container">
        <div class="col-4 border my-3 ml-3">
        <h1>{{ schedule.name }}</h1>
        <h4>Template: {{ schedule.template }}</h4>
        <table>
        {% for period_name, period_type in schedule.schedule.items() %}
            <tr><td><b>{{ period_name }}</b></td><td>{{ period_type }}</td></tr>
        {% endfor %}
         </table>
        </div>
    </div>
    <hr />
{% endfor %}
{% endblock %}
